.slide.imageLeftBulletsRight {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    text-align: left;
  }
  
  .slide.imageLeftBulletsRight img {
    max-width: 45%;
    max-height: 75%;
    object-fit: contain;
  }
  
  .slide.imageLeftBulletsRight ul {
    max-width: 45%;
    margin: 0;
    padding-left: 2rem;
  }
  
  .slide.imageLeftBulletsRight li {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  @media (orientation: landscape) {

  }
  @media (orientation: portrait) {
    .slide.imageLeftBulletsRight {
      flex-direction: column;
      text-align: left;
    }
  
    .slide.imageLeftBulletsRight img {
      max-width: 85%;
    }
  
    .slide.imageLeftBulletsRight ul {
      max-width: 100%;
      padding-left: 0;
      list-style-position: inside;
    }
  }
  