/* ----------------------------------
   Image With Caption
---------------------------------- */

.slide.imageWithCaption {
    margin: 0;                 /* reset figure default margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    gap: 2.5rem;
  }
  
  .slide.imageWithCaption img {
    max-width: 85%;
    max-height: 65%;
    object-fit: contain;
    display: block;
  }
  
  .slide.imageWithCaption figcaption {
    font-size: 2.4rem;
    line-height: 1.6;
  
    max-width: 800px;
    margin: 0;
  
    opacity: 0.85;
  }
  
  /* ----------------------------------
     Portrait Adjustment
  ---------------------------------- */
  
  @media (orientation: portrait) {
    .slide.imageWithCaption img {
      max-width: 95%;
      max-height: 60%;
    }
  
    .slide.imageWithCaption figcaption {
      font-size: 2.8rem;
    }
  }
  