
@import "./slide-base.css";


@import "./titleAndSubtitle.css";
@import "./titleAndPara.css";
@import "./bulletList.css";
@import "./twoColumnText.css";
@import "./imageSlide.css";
@import "./imageWithTitle.css";
@import "./imageWithCaption.css";
@import "./imageLeftBulletsRight.css";
@import "./imageRightBulletsLeft.css";
@import "./table.css";
@import "./barChart.css";
@import "./progressbar.css";
@import "./quoteSlide.css";
@import "./keyIdeasSlide.css";
@import "./fillImage.css";
@import "./eq.css";
