.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  
    padding: 4rem 6rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    font-family: system-ui, -apple-system, sans-serif;
    color: #111;
  
    background: transparent;
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
  }
  
  .slide h1,
  .slide h2,
  .slide h3 {
    margin: 0;
  }
  
  .slide ul {
    margin: 0;
    padding-left: 1.2em;
  }
  
  .katex {
    font-size: 1.4em;
  }
  